<div class="row-content layer-cf">
    <div class="row">
        <div class="layer-u-sm-12 layer-u-md-12 layer-u-lg-12">
            <div class="widget layer-cf">
                <div class="widget-head layer-cf">
                    <div class="widget-title a m-cf">角色列表</div>
                </div>
                <div class="widget-body layer-fr">
                    <!-- 工具栏 -->
                    <div class="page_toolbar layer-margin-bottom-xs layer-cf">
                        <div class="layer-form-group">
                                <div class="layer-btn-group layer-btn-group-xs">
                                    <a class="layer-btn layer-btn-default layer-btn-success"
                                       href="<?= url('store.role/add') ?>">
                                        <span class="layer-icon-plus"></span> 新增
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="layer-scrollable-horizontal layer-u-sm-12">
                        <table width="100%" class="layer-table layer-table-compact layer-table-striped
                         tpl-table-black layer-text-nowrap">
                            <thead>
                            <tr>
                                <th>角色ID</th>
                                <th>角色名称</th>
                                <th>排序</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php if (!empty($list)): foreach ($list as $item): ?>
                                <tr>
                                    <td class="layer-text-middle"><?= $item['role_id'] ?></td>
                                    <td class="layer-text-middle">{$item['role_name']}</td>
                                    <td class="layer-text-middle"><?= $item['sort'] ?></td>
                                    <td class="layer-text-middle"><?= $item['create_time'] ?></td>
                                    <td class="layer-text-middle">
                                        <div class="tpl-table-black-operation">
                                                <a href="<?= url('store.role/edit', ['role_id' => $item['role_id']]) ?>">
                                                    <i class="layer-icon-pencil"></i> 编辑
                                                </a>
                                                <a href="javascript:void(0);"
                                                   class="item-delete tpl-table-black-operation-del"
                                                   data-id="<?= $item['role_id'] ?>">
                                                    <i class="layer-icon-trash"></i> 删除
                                                </a>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; else: ?>
                                <tr>
                                    <td colspan="5" class="layer-text-center">暂无记录</td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        // 删除元素
        var url = "<?= url('store.role/delete') ?>";
        $('.item-delete').delete('role_id', url, '删除后不可恢复，确定要删除吗？');

    });
</script>

