<div class="row-content layer-cf">
    <div class="row">
        <div class="layer-u-sm-12 layer-u-md-12 layer-u-lg-12">
            <div class="widget layer-cf">
                <div class="widget-head layer-cf">
                    <div class="widget-title layer-cf">小程序管理</div>
                </div>
                <div class="widget-body layer-fr">
                    <div class="layer-u-sm-12 layer-u-md-6 layer-u-lg-12">
                        <div class="layer-form-group">
                            <div class="layer-btn-toolbar">
                                <div class="layer-btn-group layer-btn-group-xs">
                                    <a class="layer-btn layer-btn-default layer-btn-success layer-radius"
                                       href="{:url('item.category/add')}">
                                        <span class="layer-icon-plus"></span> 新增
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="page_toolbar layer-margin-bottom-xs layer-cf">
						<a class="item-delete tpl-table-black-operation-del">全部:32</a>
						<a class="item-delete tpl-table-black-operation-del">管理员添加:30</a>
						<a class="item-delete tpl-table-black-operation-del">代理商购买:2</a>
						<a class="item-delete tpl-table-black-operation-del">试用中:1</a>
						<a class="item-delete tpl-table-black-operation-del">已购买:1</a>
						<a class="item-delete tpl-table-black-operation-del">购买将过期:1</a>
						<a class="item-delete tpl-table-black-operation-del">购买过期:0</a>
					</div>
                    <div class="layer-u-sm-12">
                        <table width="100%" class="layer-table layer-table-compact layer-table-striped tpl-table-black ">
                            <thead>
                            <tr>
                                <th>分类ID</th>
                                <th>名称</th>
                                <th>管理员</th>
                                <th>电话</th>
                                <th>类型</th>
                                <th>时间</th>
                                <th>剩余天数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="layer-text-middle"></td>
                                    <td class="layer-text-middle"></td>
                                    <td class="layer-text-middle">暂未绑定管理员</td>
                                    <td class="layer-text-middle">暂无手机号码</td>
                                    <td class="layer-text-middle">微信小程序</td>
                                    <td class="layer-text-middle">2018.11.10-2018.11.15</td>
                                    <td class="layer-text-middle">1</td>
                                    <td class="layer-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{:url('user.index/index')}">
                                               进入管理
                                            </a>
                                            <a class="item-delete tpl-table-black-operation-del"> 编辑
                                            </a>
                                            <a class="item-delete tpl-table-black-operation-del"> 绑定管理员
                                            </a>
                                            <a class="item-delete tpl-table-black-operation-del"> 解除管理员
                                            </a>
                                            <a class="item-delete tpl-table-black-operation-del"> 续费
                                            </a>
                                        </div>
                                    </td>
                                </tr>
								
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>

